<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/pdf_converter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install -q tabula-py
import tabula

     |████████████████████████████████| 12.0 MB 4.8 MB/s

In [4]:
tabula.environment_info()

Python version:
    3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Java version:
    openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)
tabula-py version: 2.3.0
platform: Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
uname:
    uname_result(system='Linux', node='38fce0148dd8', release='5.4.104+', version='#1 SMP Sat Jun 5 09:50:34 PDT 2021', machine='x86_64', processor='x86_64')
linux_distribution: ('Ubuntu', '18.04', 'bionic')
mac_ver: ('', ('', '', ''), '')

In [5]:
pdf_path = "/content/drive/MyDrive/sangyo2020.pdf"

In [7]:
dfs = tabula.read_pdf(pdf_path, stream=True,pages="12")

In [8]:
dfs[0]

   Unnamed: 0    事業所 Unnamed: 1      製造品出荷額等        付加価値額
0         NaN    NaN    従業者数(人)          NaN          NaN
1         NaN      数        NaN         (万円)         (万円)
2          北区    224      8,539   17,523,812    7,615,599
3        千代田区     84      2,040    4,280,350    1,858,168
4         中央区    108      1,839    3,195,709    1,421,125
5          港区     72      1,162    3,037,532    1,265,441
6         新宿区    233      5,428   10,489,978    4,533,281
7         文京区    203      4,827    8,744,431    3,834,331
8         台東区    334      3,498    5,946,115    2,406,902
9         墨田区    666     12,108   29,504,853   14,680,259
10        江東区    438      8,806   27,248,687   12,035,226
11        品川区    308      5,178    9,903,392    4,847,214
12        目黒区    117      2,533    4,842,348    1,979,946
13        大田区   1151     18,982   42,125,693   17,435,131
14       世田谷区    129      1,866    3,839,134    1,652,521
15        渋谷区     42        886    1,525,131      726,698
16        中野区     59        799    1,320,295      591,505
17        杉並区     90      1,265    2,289,649      969,582
18        豊島区    117      2,160    4,174,961    2,054,552
19        荒川区    384      5,129    8,396,107    3,381,462
20        板橋区    559     14,581   35,261,953   14,089,677
21        練馬区    159      2,914    6,487,811    2,649,998
22        足立区    699     12,434   24,535,333    9,129,354
23        葛飾区    621      8,570   17,318,058    6,441,623
24       江戸川区    628      9,256   20,119,966    7,894,334
25       23区計  7,425    134,800  292,111,298  123,493,929

In [9]:
dfs[0].to_excel("sangyo.xlsx",sheet_name='new_sheet')