In [30]:
import requests
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd

In [31]:
url = "https://suumo.jp/chintai/tokyo/sc_shinjuku/?page={}"
target_url = url.format(1)
r = requests.get(target_url).text

In [32]:
print(target_url)

https://suumo.jp/chintai/tokyo/sc_shinjuku/?page=1

In [33]:
soup = BeautifulSoup(r)
#soup.text.replace("\n","").replace("\t","").replace("\xa0","").replace("\r","")

In [34]:
contents = soup.find_all("div",class_="cassetteitem")

In [35]:
#detail = content.find(class_="cassetteitem-detail")
#table = content.find(class_="cassetteitem_other")

In [36]:
len(contents)

20

In [37]:
from pprint import pprint
pprint(d_list[0])
print()
pprint(d_list[3])

{'access': '東京メトロ南北線/市ケ谷駅 歩15分東京メトロ東西線/神楽坂駅 歩10分都営大江戸線/牛込柳町駅 歩5分',
 'address': '東京都新宿区南山伏町',
 'age': '新築地下1地上13階建',
 'area': '40.01m2',
 'fee': '19.9万円',
 'floor': '2階',
 'gratuity': '-',
 'management_fee': '12000円',
 'room_type': '1LDK',
 'title': '東京メトロ南北線 市ケ谷駅 地下1地上13階建 新築'}

{'access': '都営大江戸線/牛込柳町駅 歩5分東京メトロ東西線/神楽坂駅 歩10分東京メトロ南北線/市ケ谷駅 歩15分',
 'address': '東京都新宿区北山伏町',
 'age': '築4年10階建',
 'area': '25.28m2',
 'fee': '10.4万円',
 'floor': '2階',
 'gratuity': '10.4万円',
 'management_fee': '8000円',
 'room_type': '1K',
 'title': 'オーギュメント牛込神楽坂'}

In [38]:
d_list = []

for i in range(1,4):
    print(len(d_list))
    target_url = url.format(i)
    r = requests.get(target_url).text
    sleep(1)
    soup = BeautifulSoup(r)
    contents = soup.find_all("div",class_="cassetteitem")
    for content in contents:
        detail = content.find(class_="cassetteitem-detail")
        table = content.find(class_="cassetteitem_other")
        title = detail.find("div",class_="cassetteitem_content-title").text
        address = detail.find("li",class_="cassetteitem_detail-col1").text
        access = detail.find("li",class_="cassetteitem_detail-col2").text
        age = detail.find("li",class_ = "cassetteitem_detail-col3").text
        tr_tags = content.find_all("tr", class_="js-cassette_link")
        for tr_tag in tr_tags:
            floor,price,first_fee,capacity = tr_tags[0].find_all("td")[2:6]
            fee,management_fee = price.find_all("li")
            deposite,gratuity = first_fee.find_all("li")
            room_type,area = capacity.find_all("li")
            d = {
                "title":title,
                "address":address.replace("\n",""),
                "access":access.replace("\n",""),
                "age":age.replace("\n",""),
                "floor":floor.text.replace("\n","").replace("\t","").replace("\r",""),
                "fee":fee.text,
                "management_fee":management_fee.text,
                "gratuity":gratuity.text,
                "room_type":room_type.text,
                "area":area.text
            }

        d_list.append(d)

0
20
40

In [39]:
df = pd.DataFrame(d_list)
df.head()

,title,address,access,age,floor,fee,management_fee,gratuity,room_type,area
0,東京メトロ南北線 市ケ谷駅 地下1地上13階建 新築,東京都新宿区南山伏町,東京メトロ南北線/市ケ谷駅 歩15分東京メトロ東西線/神楽坂駅 歩10分都営大江戸線/牛込柳...,新築地下1地上13階建,2階,19.9万円,12000円,-,1LDK,40.01m2
1,ザ・パークハウス山吹神楽坂,東京都新宿区山吹町,東京メトロ有楽町線/江戸川橋駅 歩4分東京メトロ東西線/神楽坂駅 歩6分東京メトロ東西線/早...,築5年13階建,3階,30万円,-,30万円,3LDK,71m2
2,都営大江戸線 牛込柳町駅 地下1地上5階建 築13年,東京都新宿区弁天町,都営大江戸線/牛込柳町駅 歩5分東京メトロ東西線/早稲田駅 歩8分,築13年地下1地上5階建,3階,10.8万円,10000円,-,ワンルーム,29.28m2
3,オーギュメント牛込神楽坂,東京都新宿区北山伏町,都営大江戸線/牛込柳町駅 歩5分東京メトロ東西線/神楽坂駅 歩10分東京メトロ南北線/市ケ谷...,築4年10階建,2階,10.4万円,8000円,10.4万円,1K,25.28m2
4,ザ・パークハウス西新宿タワー６０,東京都新宿区西新宿５,都営大江戸線/西新宿五丁目駅 歩7分東京メトロ丸ノ内線/西新宿駅 歩9分都営大江戸線/都庁前...,築5年地下2地上60階建,39階,18.6万円,12000円,18.6万円,1LDK,35.66m2

In [40]:
df.shape

(60, 10)

In [41]:
df.to_csv("asset_data.csv",index=None,encoding="UTF-8")

In [42]:
address

'東京都新宿区新宿５'